.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
BUILDS
BUILDS/
BUILDS/HexSwift/Build/Intermediates.noindex/HexSwift.build
BUILDS
